<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>
        </p>
    </div>
</div>

<section class="banner-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img class="img-fluid" src="img/media-1.jpg" alt="">
                    <div class="card-img-overlay">
                        <span class="tag tag-pill tag-danger">News</span>
                    </div>
                    <div class="card-block">
                        <div class="news-title">
                            <h2 class=" title-small">
                                <a href="#">Syria war: Why the battle for Aleppo matters</a>
                            </h2>
                        </div>
                        <p class="card-text">
                            <small class="text-time">
                                <em>3 mins ago</em>
                            </small>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img class="img-fluid" src="img/media-3.jpg" alt="">
                    <div class="card-img-overlay">
                        <span class="tag tag-pill tag-info">Politics</span>
                    </div>
                    <div class="card-block">
                        <div class="news-title">
                            <h2 class=" title-small">
                                <a href="#">Key Republicans sign letter warning against candidate</a>
                            </h2>
                        </div>
                        <p class="card-text">
                            <small class="text-time">
                                <em>3 mins ago</em>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="img-fluid" src="img/media-2.jpg" alt="">
                    <div class="card-img-overlay">
                        <span class="tag tag-pill tag-success">Travel</span>
                    </div>
                    <div class="card-block">
                        <div class="news-title">
                            <h2 class=" title-small">
                                <a href="#">Obamacare Appears to Be Making People Healthier</a>
                            </h2>
                        </div>
                        <p class="card-text">
                            <small class="text-time">
                                <em>3 mins ago</em>
                            </small>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img class="img-fluid" src="img/media-4.jpg" alt="">
                    <div class="card-img-overlay">
                        <span class="tag tag-pill tag-danger">News</span>
                    </div>
                    <div class="card-block">
                        <div class="news-title">
                            <h2 class=" title-small">
                                <a href="#">‘S.N.L.’ to Lose Two Longtime Cast Members</a>
                            </h2>
                        </div>
                        <p class="card-text">
                            <small class="text-time">
                                <em>3 mins ago</em>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 top-slider">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="news-block">
                                <div class="news-media"><img class="img-fluid" src="img/media-5.jpg" alt=""></div>
                                <div class="news-title">
                                    <h2 class=" title-large">
                                        <a href="#">Ray madison may struggle to get best from Paul in a 4-2-3-1 formation</a>
                                    </h2>
                                </div>
                                <div class="news-des">Condimentum ultrices mi est a arcu at cum a elementum per cum turpis dui vulputate vestibulum in vehicula montes vel. Mauris nam suspendisse consectetur mus...</div>
                                <div class="time-text">
                                    <strong>2h ago</strong>
                                </div>
                                <div></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="news-block">
                                <div class="news-media"><img class="img-fluid" src="img/media-6.jpg" alt=""></div>
                                <div class="news-title">
                                    <h2 class=" title-large">
                                        <a href="#">An Alternative Form of Mental Health Care Gains a Foothold</a>
                                    </h2>
                                </div>
                                <div class="news-des">Condimentum ultrices mi est a arcu at cum a elementum per cum turpis dui vulputate vestibulum in vehicula montes vel. Mauris nam suspendisse consectetur mus...</div>
                                <div class="time-text">
                                    <strong>2h ago</strong>
                                </div>
                                <div></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="news-block">
                                <div class="news-media"><img class="img-fluid" src="img/media-7.jpg" alt=""></div>
                                <div class="news-title">
                                    <h2 class=" title-large">
                                        <a href="#">Key Republican Senator Says She Will Not Vote for former president!</a>
                                    </h2>
                                </div>
                                <div class="news-des">Condimentum ultrices mi est a arcu at cum a elementum per cum turpis dui vulputate vestibulum in vehicula montes vel. Mauris nam suspendisse consectetur mus...</div>
                                <div class="time-text">
                                    <strong>2h ago</strong>
                                </div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-01">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h3 class="heading-large">Politics</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <img class="img-fluid" src="img/media-9.jpg" alt="">
                            <div class="card-block">
                                <div class="news-title">
                                    <a href="#">
                                        <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                                    </a>
                                </div>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <p class="card-text">
                                    <small class="text-time">
                                        <em>3 mins ago</em>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <img class="img-fluid" src="img/media-10.jpg" alt="">
                            <div class="card-block">
                                <div class="news-title">
                                    <a href="#">
                                        <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                                    </a>
                                </div>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <p class="card-text">
                                    <small class="text-time">
                                        <em>3 mins ago</em>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <img class="img-fluid" src="img/media-7.jpg" alt="">
                            <div class="card-block">
                                <div class="news-title">
                                    <a href="#">
                                        <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                                    </a>
                                </div>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <p class="card-text">
                                    <small class="text-time">
                                        <em>3 mins ago</em>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <img class="img-fluid" src="img/media-8.jpg" alt="">
                            <div class="card-block">
                                <div class="news-title">
                                    <a href="#">
                                        <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                                    </a>
                                </div>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <p class="card-text">
                                    <small class="text-time">
                                        <em>3 mins ago</em>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="col-lg-4 side-bar col-md-12">
                <div class="video-sec">
                    <h4 class="heading-small">Featured Video</h4>
                    <div class="video-block">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>

<section class="video-gallery-sec">
    <div class="container">
        <h3>
            <div class="heading-large">Today's Image Gallery</div>
        </h3>
        <div class="row">
            <div class="col-md-3">
                <div class="news-block">
                    <div class="news-media">
                        <a class="example-image-link" href="img/media-2.jpg" data-lightbox="media-2" data-title="An Alternative Form of Mental Health Care Gains a Foothold"><img class="img-fluid example-image" src="img/media-2.jpg" alt=""></a>
                        <span class="gallery-counter">
                            <i class="fa fa-image"></i>12</span>
                    </div>
                    <h2 class=" title-small">An Alternative Form of Mental Health Care Gains a Foothold</h2>
                    <div></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="news-block">
                    <div class="news-media">
                        <a class="example-image-link" href="img/media-3.jpg" data-lightbox="media-3" data-title="Delta passengers got pizza delivered to the plane"><img class="img-fluid" src="img/media-3.jpg" alt=""></a>
                        <span class="gallery-counter">
                            <i class="fa fa-image"></i>17</span>
                    </div>
                    <h2 class=" title-small">Delta passengers got pizza delivered to the plane</h2>
                    <div></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="news-block">
                    <div class="news-media">
                        <a class="example-image-link" href="img/media-4.jpg" data-lightbox="media-4" data-title="He took Bolt's record - can he?"><img class="img-fluid" src="img/media-4.jpg" alt=""></a>
                        <span class="gallery-counter">
                            <i class="fa fa-image"></i>06</span>
                    </div>
                    <h2 class=" title-small">He took Bolt's record - can he?</h2>
                    <div></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="news-block">
                    <div class="news-media">
                        <a class="example-image-link" href="img/media-5.jpg" data-lightbox="media-5" data-title="Minorities Suffer From Unequal Pain Treatment"><img class="img-fluid" src="img/media-5.jpg" alt=""></a>
                        <span class="gallery-counter">
                            <i class="fa fa-image"></i>09</span>
                    </div>
                    <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="news-block">
                    <div class="news-media">
                        <a class="example-image-link" href="img/media-6.jpg" data-lightbox="media-6" data-title="Minorities Suffer From Unequal Pain Treatment"><img class="img-fluid" src="img/media-6.jpg" alt=""></a>
                        <span class="gallery-counter">
                            <i class="fa fa-image"></i>10</span>
                    </div>
                    <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                    <div></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="news-block">
                    <div class="news-media">
                        <a class="example-image-link" href="img/media-7.jpg" data-lightbox="media-7" data-title="Delta passengers got pizza delivered to the plane"><img class="img-fluid" src="img/media-7.jpg" alt=""></a>
                        <span class="gallery-counter">
                            <i class="fa fa-image"></i>11</span>
                    </div>
                    <h2 class=" title-small">Delta passengers got pizza delivered to the plane</h2>
                    <div></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="news-block">
                    <div class="news-media">
                        <a class="example-image-link" href="img/media-8.jpg" data-lightbox="media-8" data-title="He took Bolt's record - can he?"><img class="img-fluid" src="img/media-8.jpg" alt=""></a>
                        <span class="gallery-counter">
                            <i class="fa fa-image"></i>05</span>
                    </div>
                    <h2 class=" title-small">He took Bolt's record - can he?</h2>
                    <div></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="news-block">
                    <div class="news-media">
                        <a class="example-image-link" href="img/media-9.jpg" data-lightbox="media-9" data-title="Best moments in travel"><img class="img-fluid" src="img/media-9.jpg" alt=""></a>
                        <span class="gallery-counter">
                            <i class="fa fa-image"></i>15</span>
                    </div>
                    <h2 class=" title-small">Best moments in travel</h2>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type='text/javascript'>
    function attracta_loadjs(url) {
        (function () {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = url;
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        })();
    }
    function attracta_shouldrun() {
        var v = ["/admin/", "/adm/", "/wp-admin/", "/administrator/"];
        for (x in v)
            if (window.location.pathname.indexOf(v[x]) == 0)
                return false;
    return true;
    }
    function attracta_window_width() {
        if (document.body && document.body.offsetWidth)
            return document.body.offsetWidth;
        if (document.compatMode == 'CSS1Compat' && document.documentElement && document.documentElement.offsetWidth)
            return document.documentElement.offsetWidth;
        if (window.innerWidth)
            return window.innerWidth;
        return 0;
    }
    function attracta_window_height() {
        if (document.body && document.body.offsetHeight)
            return document.body.offsetHeight;
        if (document.compatMode == 'CSS1Compat' && document.documentElement && document.documentElement.offsetHeight)
            return document.documentElement.offsetHeight;
        if (window.innerHeight)
            return window.innerHeight;
        return 0;
    }
</script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-82921805-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol
            ? 'https://ssl'
            : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
