<section class="evensection">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 center">
                <div class="round round-lg hollow ">
                    <span class="glyphicon glyphicon-education"></span>
                </div>
                <h3>자유주의 철학의 이해</h3>
                <p>
                    SFL Korea 회원 각자가 자기 소유권(Right to Self-Ownership)과 비침해성의 공리(NAP)로부터 출발하는 자유주의(Libertarianism)철학을 이해하고 이 관점을 여러 사안에 일관되게 적용할 수 있는 지적 수준에 이르는 것을 목표로 한다
                </p>
            </div>
            <div class="col-sm-4 center">
                <div class="round round-lg hollow blue">
                    <span class="glyphicon glyphicon-stats"></span>
                </div>
                <h3>경제적 자유주의</h3>
                <p>
                    모든 회원들이 경제학 공부를 할 필요는 없지만 경제적 자유(Economy Freedom)를 이해하는 측면에서- 오스트리아 경제학파의 역사와 화폐 및 경기변동이론의 기초를 공부하고 이해하는 수준에 이르는 것을 목표로 한다
                </p>
            </div>
            <div class="col-sm-4 center">
                <div class="round round-lg hollow orange">
                    <span class="glyphicon glyphicon-globe"></span>
                </div>
                <h3>자유주의 리더 양성</h3>
                <p>
                    자유주의(Libertarianism)철학을 바탕으로 자유시장, 건전한 통화정책, 재산권, 계약자유의 원칙, 비폭력의 원칙, 합리적인 외교정책을 논증하며 타인을 설득할 수 있는 차세대 자유주의 리더 양성을 목표로 한다
                </p>
            </div>

        </div>
        <div class="row icosecond">
            <div class="col-sm-6 center">
                <div class="round round-lg hollow green">
                    <span class="glyphicon glyphicon-user"></span>
                </div>
                <h3>자유주의 인재 양성</h3>
                <p>
                    누구든 능동적으로 자유주의적 아이디어를 개발하고, 다양한 콘텐츠를 만들어낼 수 있는 환경을 제공함으로써 사회 어떤 조직, 기업에 들어가도 자신의 역할을 담당할 수 있는 실무능력을 갖춘 인재를 양성하는 것을 목표로 한다
                </p>
            </div>
            <div class="col-sm-6 center">
                <div class="round round-lg hollow ">
                    <span class="glyphicon glyphicon-bullhorn"></span>
                </div>
                <h3>자유주의 전파</h3>
                <p>
                    한국에 자유주의 철학을 전파함으로써 ‘개인’이라는 가치를 일깨우고 국가주의와 집단주의를 배격함으로써 대한민국의 완전한 자유화를 도모하는 것을 목표로 한다
                </p>
            </div>
        </div>
    </div>
</section>
