<section class="abouthead">
    <div class="container center">
        <br/>
        <h1>About Students For Liberty Korea<h1>
    </div>
</section>



  <%= render partial: "section_1" %>
  <hr/>
  <%= render partial: "section_2" %>
  <hr/>
  <%= render partial: "section_3" %>
  <hr/>
  <%= render partial: "section_4" %>
