<div class="example3">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><%= image_tag 'homelogo.png' %></a>
            </div>
            <div id="navbar3" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about/intro">SFL소개</a>
                    </li>
                    <li>
                        <a href="/column/list">자유정론</a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">자유창고<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">추천도서</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">논문</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">해외자유주의 영상</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">Liberty 101</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">Libertarian Mind TV</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">카드뉴스</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">활동/행사<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">컨퍼런스</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">프리스피치</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">북콘서트</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">지원하기</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
</div>
